<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAQA5RhwUEk-tenz_43bd6Ng4aMKgrlww</string>
	<key>GCM_SENDER_ID</key>
	<string>806405631213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWorkoutTracker</string>
	<key>PROJECT_ID</key>
	<string>workout-tracker-bc51e</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-tracker-bc51e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806405631213:ios:6f76eb9f6fcd72147070e4</string>
</dict>
</plist>